- content_for :html_head do
  %title= @title

%div#header
  %h1= @title
%div#main
  %p
    %a{:href => "#{app_root}/tv/channel/1"} TV
  %p
    %a{:href => "#{app_root}/remote/channel/1"} Remote
  %p
    sinatra-multi-screen version #{SinatraMultiScreen::VERSION}